.main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100vw;
  height: 100vh;
  align-items: center;
}

.product-area {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 800px;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.main > h1 {
  margin: 3rem 0;
}

.card {
  padding: 1rem;
  margin: 0.2rem;
  width: 350px;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0.15);
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
  text-wrap: balance;
}

.img {
  width: 100%;
}
